.profile__avatar-button {
    background: none;
    border: none;
    border-radius: 50%;
    height: 120px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 120px;
    outline: none;
}

@media screen and (max-width:670px) {
    .profile__avatar-button {
        top: 40px;
    }
}

@media screen and (max-width:450px) {
    .profile__avatar-button {
        top: 38px;
    }
}

.profile__avatar-button:hover {
    background: rgba(0, 0, 0, .9) url(../../../image/avatar-button/avatar.svg) no-repeat 50%;
    cursor: pointer;
    opacity: .8;
}