.header__link {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  margin-top: 6px;
  outline: none;
  cursor: pointer;
}

.header__link:hover {
  opacity: .6;
  transition: all .1s ease-in
}

@media screen and (max-width: 670px) {
  .header__link {
    margin-right: 30px;
  }
}

@media screen and (max-width:500px) {
  .header__link {
    margin-right: 0;
    margin-top: 18px;
  }
}