.form__field-error {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FF0000;
    border: none;
    opacity: 0;
    display: block;
    position: absolute;
    max-width: 300px;
    padding-top: 5px;
}