.header__burger-line {
    width: 24px;
    height: 3px;
    transition: all 0.3s ease;
    background-color: #FFFFFF;
    margin: 0;
    margin-bottom: 6px;
    margin-right: 30px;
    transition: transform 0.2s ease-in-out;
}