.header__burger {
    display: none;
    cursor: pointer;
    position: relative;
}

.header__burger:hover {
    opacity: .6;
    transition: all .2s ease-in
}

@media screen and (max-width:500px) {
    .header__burger {
        display: block;
    }
}


.header__burger::before,
.header__burger::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    transition: transform 0.2s ease-in-out;
}

.header__burger::before {
    transform: translateY(-8px);
}

.header__burger::after {
    transform: translateY(8px);
}